<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Node Alarm</title>
    <script src="/js/app.js"></script>
</head>
<body>
    <h1>Node Alarm</h1>

    <div class="alarms" ng-controller="AlarmCtrl as alarm">
        <ul>
            <li ng-repeat="cron in alarm.alarms track by $index">
                <input type="text" ng-model="cron" readonly>
                <!-- <button ng-click="update()">Update</button> -->
                <button ng-click="alarm.delete($index)">Delete</button>
            </li>
        </ul>
        <form ng-submit="alarm.new()">
            <input type="text" placeholder="New alarm" ng-model="alarm.newAlarm">
            <button type="submit">Add alarm</button>
        </form>
        <a href="#alarmOn" class="button" ng-click="alarm.on()">Start Alarm</a>
        <a href="#alarmOff" class="button" ng-click="alarm.off()">Stop Alarm</a>
    </div>
</body>
</html>